<section class="acerca-de-mi" id="acerca-de-mi">
  <div class="row">
    <div class="col-sm-4 col-md-4" style="text-align: justify">
      <h2 class="text-center">Acerca de mí</h2>
      <p>
        Soy César Antonio Jauregui Saavedra, actualmente curso el 9no ciclo de
        la carrera. ¡No falta nada!. Soy un estudiante entusiasta por aprender
        cosas relacionadas al desarrollo web, desarrollo de aplicaciones móviles
        y por supuesto, la seguridad informática.
      </p>
      <p>
        Mi trayectoria incluye labores de desarrollo web y desarrollo de una app
        móvil. Indicadores claros de liderazgo, proactividad y orientación a
        resultados en mi trayectoria.
      </p>
      <p>
        Soy miembro de una ONG llamada "Dibujando Sonrisas", creada para dar
        soporte a las personas más necesitadas de una localidad en las alturas
        de Pisco, Perú.
      </p>
    </div>
    <div class="col-sm-3">
      <img
        src="img/yo.jpg"
        class="img-fluid rounded mx-auto d-block"
        width="220px"
        alt="mi foto"
      />
      <br />
    </div>
    <div class="col-sm-5 col-md-5" style="text-align: justify">
      <h2 class="text-center">Mi formación</h2>
      <li>
        Estudiante de Ingenieria de Sistemas e Informática en la Universidad de
        Ciencias y Humanidades, Lima - Perú.
      </li>
      <li>
        Conocimientos en lenguaje de programación JAVA, JavaScript , PHP 7.
      </li>
      <li>HTML5, CSS, Bootstrap, Git y Github. Framework Laravel.</li>
      <li>Sistemas operativos: Windows y Linux.</li>
      <li>Gestores de base de datos: SQL Server y MySQL.</li>
      <br />
      <h4 class="text-center">Algunos cursos y/o especialización</h4>
      <li>
        Certificado Introduction to Cyber ​​Security from Cisco Networking
        Academy®.
      </li>
      <li>
        Presentación del paper
        <em
          >"Analysis of the use of technological tools in the e-learning
          process"</em
        >
        at the Technical and Scientific Conference of the Andean Council of the
        IEEE (ANDESCON 2020). Quito, Ecuador.
      </li>
      <li>
        SHIRCON 2019: “IV Congreso Internacional de Investigación en Ciencias y
        Humanidades”.
      </li>
      <li>
        Certificación CompTIA A + (NGD Linux Unhatched en Cisco Networking
        Academy).
      </li>
      <li>Certificado Scrum Fundamentals Certified. SCRUMstudy. 2019.</li>
      <li>
        Certificado de participación y presentación de proyectos SCIENCES AND
        HUMANITIES INTERNATIONAL RESEARCH CONFERENCE, SHIRCON III 2018.
      </li>
    </div>
  </div>
</section>
<br />
