
<section class="acerca-de-mi" id="acerca-de-mi">    
    <div class="row">
        <div class="col-6">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, nisi doloremque! Commodi numquam tenetur accusantium illo doloremque! Saepe laudantium maxime beatae facilis molestiae, at sint quos repellat deserunt? Pariatur, ipsam? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, iusto eum accusamus ratione perspiciatis aliquam saepe praesentium veniam ab recusandae in, harum itaque temporibus voluptate totam expedita asperiores necessitatibus pariatur!
        </div>
        <div class="col-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nesciunt impedit possimus reiciendis sed laborum quo dignissimos magnam explicabo, nobis cumque alias, accusamus omnis nam obcaecati accusantium quasi ducimus adipisci?Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit vel quos eum magnam cum blanditiis repellendus debitis ex laborum atque pariatur, consequuntur iusto ad maiores officia, dolorum mollitia quisquam asperiores.
        </div>
    </div>
</section>