<br />
<section class="contacto" id="contacto">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Contacto</h2>
      <br />
    </div>
    <div class="col-md-6">
      <form class="row g-3">
        <div class="col-md-6">
          <label class="form-label">Nombre Completo</label>
          <input type="text" class="form-control input" required />
        </div>
        <div class="col-md-6">
          <label class="form-label">Su correo</label>
          <input type="email" class="form-control" required />
        </div>
        <div class="col-md-12">
          <label class="form-label">Mensaje</label>
          <textarea class="form-control" rows="8" required></textarea>
        </div>
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
          <br /><br />
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <i class="fa fa fa-envelope"> cjaureguisaavedra@gmail.com </i><br /><br />
      Disponibilidad Total. <br />
      <br />
      <div class="google-maps">
        <br /><br />
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11403576.625524096!2d-74.22620347674173!3d-9.308573073568978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c850c05914f5%3A0xf29e011279210648!2sPeru!5e0!3m2!1sen!2spe!4v1614810122464!5m2!1sen!2spe"
          width="400"
          height="200"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</section>
