<section class="experiencia text-center" id="experiencia">
  <div class="row">
    <div class="text-center">
      <h2>Experiencia</h2>
    </div>
    <div class="col-sm-4">
      <br />
      Trabajador - AC SERVICE | 1/2015 - 07/2016
      <p>
        Prestación de servicio a la empresa Movistar. Asumí responsabilidades
        propias de los procesos de mantenimiento de equipos (routers,
        decodificadores, antenas). Abarqué el proceso de entradas y salidas de
        los equipos.
      </p>
    </div>
    <div class="col-sm-4">
      <br />
      SOPORTE TÉCNICO – I.E. CIRO ALEGRÍA 2037 | 03/19 - 07/19
      <li>
        Colaborar con el docente de EPT al momento de realizar su clase en la
        sala de cómputo.
      </li>
      <li>
        Chequeo del buen funcionamiento de las CPU y accesorios (mouse, teclado,
        pantalla).
      </li>
    </div>
    <div class="col-sm-4">
      <br />
      HELPDESK – DHL EXPRESS | 08/19 - 12/19 <br />
      Mesa de ayuda en el área de Aduanas.
      <li>Realizar Helpdesk del Sistema ciclo2000, Seida.</li>
      <li>
        Solucionar errores del sistema tras recibir correos de los clientes.
      </li>
    </div>
  </div>
</section>
