<footer class="footer">
  <h3>
    <section class="social">
      <p>Sígueme en</p>
      <div class="links">
        <a href="https://facebook.com">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://linkdin.com">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://linkdin.com">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://instragram.com">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </section>
    Todos los derechos reservados. &copy; César Jauregui Saavedra - 2021
  </h3>
</footer>
