<!-- Navigation -->
  <nav class="nav-main">
    <h1>César Jauregui Saavedra</h1>
    <!-- Left Nav -->
    <ul class="nav-menu">
      <li>
        <a href="#acerca-de-mi" class="perfil">Perfíl</a>
      </li>
      <li>
        <a href="#experiencia">Experiencia</a>
      </li>
      <li>
        <a href="#portafolio">Portafolio</a>
      </li>
      <li>
        <a href="#blog">Blog</a>
      </li>
      <li>
        <a href="#contacto">Contacto</a>
      </li>
    </ul>
  </nav>
  <hr class="line-hr">
  

  <!-- SHOWCASE -->
  <header class="showcase">
    <h2>Ingeniero de Sistemas e Informático. </h2> 
    <h2>Un profesional para tí.</h2>
  </header>