<!-- Navigation -->
  <nav class="nav-main">
    <!-- Brand -->
    <img src="img/brand.png" alt="TechNews Logo" class="nav-brand">
    <h1>César Jauregui Saavedra</h1>
    <!-- Left Nav -->
    <ul class="nav-menu">
      <li>
        <a href="#acerca-de-mi" class="perfil">Perfíl</a>
      </li>
      <li>
        <a href="#">Experiencia</a>
      </li>
      <li>
        <a href="#">Portafolio</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Contacto</a>
      </li>
    </ul>
  </nav>
  <hr class="line-hr">
  <!-- SHOWCASE -->
  <header class="showcase">
    <h3>Ingeniero de Sistemas e Informático. Un profesional para tí.</h3>
  </header>