<br />
<section class="portafolio" id="portafolio">
  <div class="row">
    <div
      class="col-sm-4"
      style="display: grid !important; align-items: center !important"
    >
      <h2 style="text-align: center">Portafolio</h2>
    </div>
    <div class="col-sm-8 text-center">
      <div class="row">
        <div class="col-sm-6">
          <h5>SendFast</h5>
          <img
            class="img-fluid rounded img-portafolio"
            src="https://raw.githubusercontent.com/CesJauregui/SendFast/main/logo.ico"
            alt=""
          />
          <p>
            Aplicación de envío de archivos de Gmail. Realizada con Python.
            <br /><br />
            <a href="https://github.com/CesJauregui/SendFast"
              ><span style="text-decoration: underline;">Ver Proyecto aquí</span></a
            >
            <br />
          </p>
        </div>
        <div class="col-sm-6">
          <h5>CMS Hermandad</h5>
          <img
            class="img-fluid rounded img-portafolio"
            src="https://raw.githubusercontent.com/CesJauregui/Hermandad/master/images/logoreal.png"
            alt=""
          />
          <p>
            Página web de la Hermandad Santos Varones y Cargadores del Santo
            Sepulcro - San José, Canta - CMS<br /><br />
            <a  href="https://github.com/CesJauregui/Hermandad"
                > <span style="text-decoration: underline;">Ver Proyecto aquí</span></a>
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
